@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
	font-family: "Rubik", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f9feff;
}

main {
	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}
